.select2-container {
    width: 100% !important;
}

.alert-heading {
    display: none;
}

#managements h1 {
    font-size: 30px;
    color: #223f4c;
    margin-bottom: 40px;
}

#managements .well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#managements .pesquisar i {
    vertical-align: text-top;
}

#managements .search #formulario {
    width: 100%;
}

#managements .center {
    text-align: center !important;
    vertical-align: middle;
}

#managements .search {
    display: flex;
    margin-left: 0;
}

#managements table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #f5f5f5;
    border: 0;
}

#managements table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 19px);
}

@-moz-document url-prefix() {
    #managements table thead {
        width: calc(100% - 21px);
    }
}

#managements table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFF;
}

#managements table tbody tr {
    width: 100%;
    border-top: 0;
}

#managements table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

#managements table.table th {
    font-weight: bold;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 0;
    vertical-align: middle;
}

#managements table.table td {
    border: 0;
}

.select2-container .select2-selection--single,
.select2-search--dropdown .select2-search__field {
    height: auto !important;
    font-size: 16px;
}

.row-fluid [class*="span"]:nth-child(4) {
    margin-left: 0;
}

.fa {
    font-size: 20px;
}

.btn-simple.btn-create {
    float: right;
}

.btn-simple.btn-create span {
    font-size: 18px;
    margin-left: 5px;
}

.btn-simple.btn-edit {
    background-color: #2f4c12;
    font-size: 20px;
    flex: 1;
    display: inline-block;
    contain: content;
    justify-content: center;
    padding: 5px 6px;
    border-radius: 3px;
}
.btn-simple.btn-edit:hover{
    background-color: #1a3102;
}

.noty_buttons .btn-primary:hover {
    background-color: #2a8ea8;
    color: #FFF;
}

.noty_buttons .btn-danger {
    background-color: #b00000;
    color: #FFF;
}

.noty_buttons .btn-danger:hover {
    background-color: #ce0000;
    color: #FFF;
}

.red {
    color: #ce0000;
}

.green {
    color: #009d04;
}

.legenda {
    text-align: right;
}

@media screen and (max-width: 1000px) {
    #managements .search {
        display: block;
    }
    #managements .search #formulario>div {
        width: 100%;
        margin-left: 0;
    }
    #search-services_input {
        text-align: center;
    }
    #search-services_input .select2-container {
        text-align: left;
    }
    .btn.btn-search {
        max-width: 220px;
    }
    #managements .search div.span3 {
        text-align: center;
    }
    #managements .search div.span3>div {
        width: auto;
        display: inline-table;
    }
    #managements .search div.span3>div {
        width: auto;
        display: inline-table;
        margin: 0 0 0 10px;
    }
    #managements .search div.span3>div:first-child {
        margin: 0;
    }
    #managements .search div.span3>div .btn {
        width: 220px;
        margin: auto;
        display: table;
    }
    #managements table thead {
        display: none;
    }
    #managements table tbody tr:first-child {
        border-top: solid 1px #ddd;
    }
    #managements table.table td {
        font-size: 14px;
    }
    #managements .table th,
    #managements .table td {
        padding: 5px;
    }
    #managements .table th:nth-child(1),
    #managements .table td:nth-child(1) {
        width: 30px !important;
    }
    #managements .table th:nth-child(2),
    #managements .table td:nth-child(2) {
        width: 80px !important;
    }
    #managements .table th:nth-child(3),
    #managements .table td:nth-child(3) {
        width: 100px !important;
    }
    #managements .table th:nth-child(5),
    #managements .table td:nth-child(5) {
        width: 70px !important;
    }
    #managements .table th:nth-child(6),
    #managements .table td:nth-child(6),
    #managements .table th:nth-child(7),
    #managements .table td:nth-child(7),
    #managements .table th:nth-child(8),
    #managements .table td:nth-child(8) {
        width: 20px !important;
    }
    #managements .btn.btn-delete {
        padding: 0;
        background-color: transparent;
        color: #b52200;
    }
}

@media screen and (max-width: 768px) {
    #managements .search div.span9 .span4 {
        width: 48%;
        margin: 0 1% 20px 1%;
    }
    #managements .pesquisar {
        display: block;
    }
    .show_form {
        display: none;
    }
    #formulario {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    #managements .search div.span9 .span4 {
        width: 96%;
    }
    #managements .search div.span3>div:first-child,
    #managements .search div.span3>div {
        width: 96%;
        margin: 0 2% 20px 2%;
    }
    #managements table.table td {
        font-size: 12px;
    }
    #managements .table th,
    #managements .table td {
        padding: 2px;
    }
    #managements .table th:nth-child(1),
    #managements .table td:nth-child(1) {
        width: 25px !important;
    }
    #managements .table th:nth-child(2),
    #managements .table td:nth-child(2) {
        width: 50px !important;
    }
    #managements .table th:nth-child(3),
    #managements .table td:nth-child(3) {
        width: 70px !important;
    }
    #managements .table th:nth-child(5),
    #managements .table td:nth-child(5) {
        width: 55px !important;
    }
    #managements .table th:nth-child(6),
    #managements .table td:nth-child(6),
    #managements .table th:nth-child(7),
    #managements .table td:nth-child(7),
    #managements .table th:nth-child(8),
    #managements .table td:nth-child(8) {
        width: 15px !important;
    }
    #head-management>div {
        display: table;
        width: 100%;
        margin: 0;
    }
    .btn.btn-create {
        width: auto;
        padding: 5px 20px !important;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    #managements table.table td {
        font-size: 10px;
    }
    #managements .table th:nth-child(1),
    #managements .table td:nth-child(1) {
        width: 20px !important;
    }
    #managements .table th:nth-child(2),
    #managements .table td:nth-child(2) {
        width: 40px !important;
    }
    #managements .table th:nth-child(3),
    #managements .table td:nth-child(3) {
        width: 60px !important;
    }
    #managements .table th:nth-child(5),
    #managements .table td:nth-child(5) {
        width: 50px !important;
    }
    #managements .table th:nth-child(6),
    #managements .table td:nth-child(6),
    #managements .table th:nth-child(7),
    #managements .table td:nth-child(7),
    #managements .table th:nth-child(8),
    #managements .table td:nth-child(8) {
        width: 15px !important;
    }
}